name: build
on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Run lint for the free debug variant
        run: ./gradlew lintFreeDebug

      - name: Run lint for the paid debug variant
        run: ./gradlew lintPaidDebug

      - name: Run unit tests for the free debug variant
        run: ./gradlew testFreeDebugUnitTest

      - name: Run unit tests for the paid debug variant
        run: ./gradlew testPaidDebugUnitTest

      - name: Build the free debug variant
        run: ./gradlew assembleFreeDebug

      - name: Build the paid debug variant
        run: ./gradlew assembleFreeDebug

      - name: Upload free debug APK
        uses: actions/upload-artifact@v4
        with:
          name: free-debug-apk
          path: app/build/outputs/apk/free/debug/app-free-debug.apk
